a{
 color:#90ee90;
}

body{
 background: #3a3b3c;
 color: white;
 font-family: verdana, sans-serif;
 background-image: url("https://static.vecteezy.com/system/resources/thumbnails/002/623/592/small/striped-lines-diagonal-pattern-on-black-background-and-texture-abstract-dark-pattern-banner-design-you-can-use-for-cover-template-poster-banner-web-flyer-landing-page-print-ad-illustration-vector.jpg");
 background-repeat: no-repeat;
 background-size: 100%;
}

button{
 text-align: center;   
 width: 32%;
 background:none;
 color: white;
 font-family: verdana, sans-serif;
 padding: 15px;
 font-size: 120%;
 border-radius: 8px;
 border:solid #1db954 ;
 transition-duration: 0.4s;
 cursor: pointer;
}

button:hover{
 background: green;   
}

.github{
 width: 27%;   
}


.gmail{
 text-align: center;   
}

.instagram{
 width:20%;   
}

h1{
 text-align: center;   
}

.socials{
 text-align:center;   
}

.top{
 float:right;
 width: 20%;
}

.youtube{
 width: 50%;   
}