/* make title tags */
a{
 color:#90ee90;
}

body{
 background: #3a3b3c;
 color: white;
 font-family: verdana, sans-serif;
 text-align:center;
}

button{
 text-align: center;   
 width: 100%;
 background:none;
 color: white;
 font-family: verdana, sans-serif;
 padding: 15px;
 font-size: 120%;
 border-radius: 8px;
 border:solid #1db954 ;
 transition-duration: 0.4s;
 cursor: pointer;
}

button:hover{
 background: #1db954;   
 color:black;
}

.buttontext{
 color:white;   
}

.title{
 color:#1db954;
 padding:60px;
 background-image:url(https://ak.picdn.net/shutterstock/videos/24700112/thumb/1.jpg);
 background-repeat: no-repeat;
 background-size:100%;
}

.top{
 width: 13%;
 border-radius:128px;
}

/* typing animation */
.type{
 overflow:hidden;
 border-right: .125em solid white;
 white-space: nowrap;
 margin:0 auto;
 letter-spacing:.25em;
 animation: 
     typing 4.5s 40,70, blink-caret .75s step-end infinite;
}

@keyframes typing{
    from{width:0%;}
    to{width: 35%;}
}

@keyframes blink-caret{
    from{border-color: transparent;}
    50%{border-color:white;}
    to{ border-color:transparent;}
}

/* apps */
.youtube{
 width: 50%;  
} 

.github{
 width: 27%; 
}


.gmail{
 text-align: center;   
}

.instagram{
 width:20%;  
}
